{% extends 'Base/base.html' %}
{% load static %}

{% block title %}Accueil{% endblock %}

{% block content %}
  {% include 'Base/header.html' %}


  		<div class="container-fluid" style="padding: 5%; background-image: url({% static '' %}img/eces_arr22.jpg); background-size: 100% auto; color: white;">
    	<h1 align="center">Mot de passe réinitialisé</h1>
		</div>

		<div class="container" style="padding-top: 90px; padding-bottom: 190px;">

		  	<div class="row">
		  		<div class="col-md-8 offset-md-2">


					<h2 style="margin-bottom: 0;">Mot de passe réinitialisé avec succès!</h2>
					<hr>
					<p align="justify">Cliquez <a href="{% url 'profil_etudiant' %}">ici</a> pour se <a href="{% url 'profil_etudiant' %}">connecter</a>.</p>
					<hr>

	  			</div>
  			</div>
  	  
  		</div>

{% endblock %}