{% extends 'Base/base.html' %}
{% load static %}

{% block title %}Accueil{% endblock %}

{% block content %}
  {% include 'Base/header.html' %}


  		<div class="container-fluid" style="padding: 5%; background-image: url({% static '' %}img/eces_arr22.jpg); background-size: 100% auto; color: white;">
    	<h1 align="center">Mot de passe oublié</h1>
	</div>	

  {% if form.errors %}
  <div class="alert alert-danger" role="alert">
  {{ form.errors }}
  </div>
  {% endif %}


  <div class="container" style="padding-top: 60px; padding-bottom: 65px;">

  	<div class="row">
  		<div class="col-md-8 offset-md-2">
  			<form method="POST" style="border: ">

  				{% csrf_token %}

          <p>Vous avez oublié votre mot de passe ? Saisissez votre adresse électronique ci-dessous et nous vous enverrons par e-mail des instructions sur la manière d'en créer un nouveau.</p>
          <hr>
  			{% csrf_token %}

			  <div class="mb-3">
			    <label for="exampleInputEmail1" class="form-label">Votre adresse e-mail</label>
			    <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="exemple@gmail.com">
			  </div>

  		
  		<input type="submit" class="btn" style="padding: 10px 20px; border-radius: 5px; background-color: #199EB8;" value="Envoyer" name="bouton">
	</form>
  		</div>
  	</div>
  	  
  </div>

{% endblock %}
