{% extends 'Base/base.html' %}
{% load static %}

{% block title %}Accueil{% endblock %}

	{% block content %}
	  {% include 'Base/header.html' %}


  		<div class="container-fluid" style="padding: 5%; background-image: url({% static '' %}img/eces_arr22.jpg); background-size: 100% auto; color: white;">
    	<h1 align="center">Nouveau mot de passe</h1>
		</div>
	
	{% if validlink %}

  {% if form.errors %}
  <div class="alert alert-danger" role="alert">
  {{ form.errors }}
  </div>
  {% endif %}
	
	<div class="container" style="padding-top: 60px; padding-bottom: 65px;">

  	<div class="row">
  		<div class="col-md-8 offset-md-2">
  			<form method="POST" style="border: ">

  				{% csrf_token %}

			  <div class="mb-3">
			    <label for="exampleInputEmail1" class="form-label">*Nouveau mot de passe</label>
			    <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrez un nouveau mot de passe">
			  </div>


			  <p>
			  	<small>
			  	<ul>
			  		<li>Votre mot de passe ne peut pas trop ressembler à vos autres informations personnelles.</li>
			  		<li>Votre mot de passe doit contenir au minimum 8 caractères.</li>
			  		<li>Votre mot de passe ne peut pas être un mot de passe couramment utilisé.</li>
			  		<li>Votre mot de passe ne peut pas être entièrement numérique.</li>
			  	</ul>
			  </small>
			  </p>


			  <div class="mb-3">
			    <label for="exampleInputEmail1" class="form-label">*Confirmation du nouveau mot de passe </label>
			    <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Confirmez votre nouveau mot de passe du nouveau mot de passe">
			  </div>


			  <input type="submit" class="btn" style="background-color: #199EB8; padding: 10px 20px; border-radius: 5px;" value="Enregistrer" name="bouton">
		</form>
	</div>
</div>
</div>
	{% else %}

			<div class="container" style="padding-top: 90px; padding-bottom: 100px;">

		  	<div class="row">
		  		<div class="col-md-8 offset-md-2">


					<h1 style="margin-bottom: 0; text-align: center;">Le lien non valide !</h1>
					<hr>
					<p align="center"><a href="/">Back to home page</a></p>

	  			</div>
  			</div>
  	  
  		</div>
	{% endif %}

{% endblock %}