{% extends 'Base/base.html' %}
{% load static %}

{% block title %}Accueil{% endblock %}

	{% block content %}
	  {% include 'Base/header.html' %}


  		<div class="container-fluid" style="padding: 5%; background-image: url({% static '' %}img/eces_arr22.jpg); background-size: 100% auto; color: white;">
    	<h1 align="center">Mot de passe oublié</h1>
		</div>

		<div class="container" style="padding-top: 90px; padding-bottom: 190px;">

		  	<div class="row">
		  		<div class="col-md-8 offset-md-2">


					<h2 style="margin-bottom: 0;">Message de réinitialisation du mot de passe envoyé</h2>
					<hr>
					<p align="justify">Nous avons envoyé des instructions par email pour définir votre mot de passe sur l'adresse e-mail que vous avez soumise. Vous devriez le recevoir sous peu.</p>

	  			</div>
  			</div>
  	  
  		</div>

{% endblock %}