{% extends 'Base/base.html' %}
{% load static %}

{% block title %}Nos liens{% endblock %}

{% block content %}
	{% include 'Base/header.html' %}

	<div class="container-fluid" style="padding: 5%; background-image: url({% static '' %}img/eces_arr22.jpg); background-size: 100% auto; color: white;">
    	<h1 align="center">Nos liens</h1>
	</div>

	<section class="team" id="team" style="margin-bottom: 80px;">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mt-2">
          <div class="card card-block">
            <a href="#"><img alt="" class="team-img" src="{% static '' %}img/cacsup.png" style="width: 100%; overflow: hidden;background-size: cover;background-repeat: no-repeat;background-position: center center;height: 250px;position: relative;display: block; margin: 0;">

              <div class="team-over">
                <h4 class="hidden-md-down">
                  CACSUP
                </h4>

                <nav class="social-nav">
                  <a href="https://www.cacsup.org" target="_blank">www.cacsup.org</a>
            </nav>

            <p>
              Centre Africain de Complementarité Scolaire Universitaire et de Promotion
            </p>
          </div>
          </a>
        </div>
      </div>


      <div class="col-md-4 mt-2">
          <div class="card card-block">
            <a href="#"><img alt="" class="team-img" src="{% static '' %}img/dkr.jpg" style="width: 100%; overflow: hidden;background-size: cover;background-repeat: no-repeat;background-position: center center;height: 250px;position: relative;display: block; margin: 0;">

              <div class="team-over">
                <h4 class="hidden-md-down">
                  CACSUP Senegal
                </h4>

                <nav class="social-nav">
                  <a href="http://www.cacsup-senegal.org" target="_blank">www.cacsup-senegal.org</a>
            </nav>

            <p>
              Ecole Communautaire de l'Enseignement Superieur de Dakar
            </p>
          </div>
          </a>
        </div>
      </div>


              <div class="col-md-4 mt-2">
          <div class="card card-block">
            <a href="#"><img alt="" class="team-img" src="{% static '' %}img/ar.png" style="width: 100%; overflow: hidden;background-size: cover;background-repeat: no-repeat;background-position: center center;height: 250px;position: relative;display: block; margin: 0;">

              <div class="team-over">
                <h4 class="hidden-md-down">
                  ECES Brazzaville
                </h4>

                <nav class="social-nav">
                  <a href="https://www.eces-ecole.org" target="_blank">www.eces-ecole.org</a>
            </nav>

            <p>
              Ecole Communautaire de l'Enseignement Superieur de Brazzaville
            </p>
          </div>
          </a>
        </div>
      </div>

  	</div>

  	<div class="row mt-3">
              <div class="col-md-4 mt-2">
          <div class="card card-block">
            <a href="#"><img alt="" class="team-img" src="{% static '' %}img/lcp_logo.png" style="width: 100%; overflow: hidden;background-size: cover;background-repeat: no-repeat;background-position: center center;height: 250px;position: relative;display: block; margin: 0;">

              <div class="team-over">
                <h4 class="hidden-md-down">
                  LCP
                </h4>

                <nav class="social-nav">
                  <a href="https://www.lcp-ecole.org">www.lcp-ecole.org</a>
            </nav>

            <p>
              Lycée Communautaire Polyvalent
            </p>
          </div>
          </a>
        </div>
      </div>


        <div class="col-md-4 mt-2">
          <div class="card card-block">
            <a href="#"><img alt="" class="team-img" src="{% static '' %}img/ISOC.jpg" style="width: 100%; overflow: hidden;background-size: cover;background-repeat: no-repeat;background-position: center center;height: 250px;position: relative;display: block; margin: 0;">

              <div class="team-over">
                <h4 class="hidden-md-down">
                  ISOC
                </h4>

                <nav class="social-nav">
                  <a href="https://www.isoc.org">www.isoc.org</a>
            </nav>

            <p>
              Internet Society.
            </p>
          </div>
          </a>
        </div>
      </div>


              <div class="col-md-4 mt-2">
          <div class="card card-block">
            <a href="#"><img alt="" class="team-img" src="{% static '' %}img/tasa.jpg" style="width: 100%; overflow: hidden;background-size: cover;background-repeat: no-repeat;background-position: center center;height: 250px;position: relative;display: block; margin: 0;">

              <div class="team-over">
                <h4 class="hidden-md-down">
                  TASA
                </h4>

                <nav class="social-nav">
                  <a href="https://www.tasa.pro">www.tasa.pro</a>
            </nav>

          </div>
          </a>
        </div>
      </div>

    </div>
    </div>
  </section>

{% endblock %}