{% load static %}
<header id="header">
    <div class="container">

      <a href="{% url 'home' %}">
      <div id="logo" class="pull-left">
        <img src="{% static '' %}img/AAEE.jpg" alt="" title="" /></img>
      </div>
      </a>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="{% url 'home' %}">ACCUEIL</a></li>

          <li><a href="{% url 'about' %}">A PROPOS</a></li>

          <li><a href="{% url 'vae' %}">VAE</a></li>

          {% if user.is_authenticated %}
          {% else %}
            <li><a href="{% url 'register' %}">INSCRIPTION</a></li>
          {% endif %}

          <li><a href="{% url 'liens' %}">LIENS</a></li>


          <li class="menu-has-children"><a href="">AUTRES</a>
            <ul>
              <li><a href="{% url 'post_actualite' %}">ACTUALITES</a></li>
              <li><a href="/#album">GALERIE</a></li>
              <li><a href="{% static '' %}doc/STATUTS AAEE.pdf">STATUT</a></li>
            </ul>
          </li>

          <li><a href="{% url 'contact' %}">CONTACTS</a></li>
          
        </ul>
      </nav>

      <nav class="nav social-nav pull-right d-none d-lg-inline">
        <a href="https://api.whatsapp.com/send?phone=+242066712429"><i class="fa fa-whatsapp"></i></a> 
        <a href="https://www.facebook.com/ecesofficielle/"><i class="fa fa-facebook"></i></a>
        </a> <a href="mailto:info@eces-ecole.org"><i class="fa fa-envelope"></i></a>
      </nav>
    </div>
  </header>